<button class="duration-200 hover:bg-stone-100 rounded-full w-10 h-10 relative" type="submit">
  <i class="material-icons material-icons-outlined <%= @class_name %>">
    <%= @icon %>
  </i>
</button>
