<div class="mt-4 flex justify-center items-center">
  <div class="h-px w-full bg-stone-300"></div>

  <div class="text-xs inline-flex text-center text-gray-500 px-4">
    <%= @text %>
  </div>

  <div class="h-px w-full bg-stone-300"></div>
</div>