<div
  class="bg-black absolute opacity-50 h-screen w-screen left-0 top-0 z-50"
  <%= on_close && "data-action=click->#{on_close}" %>

></div>

<div class="absolute w-[20rem] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-50">
  <%= content %>
</div>
